body {
  background: #1f2121;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

@-webkit-keyframes run {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes run {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

div {
  position: relative;
  width: 80%;
  height: 80vh;
}

div table {
  width: 100%;
  height: 100%;
}

div table tr td {
  text-align: center;
  position: relative;
  height: 16.67%;
  width: 7.69%;
  font-size: 3vw;
  font-weight: bold;
  background: transparent;
}

div table tr td:hover {
  cursor: pointer;
}

div table tr td span {
  position: absolute;
  bottom: 1%;
  right: 1%;
  font-size: 0.3em;
}

div table tr td strong {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div table tr td strong:hover {
  color: #1f2121 !important;
}

div table tr td svg {
  fill: white;
  position: absolute;
  bottom: 10%;
  left: -100%;
  height: 75%;
  width: 70%;
  -webkit-animation: 1s run 2 forwards;
          animation: 1s run 2 forwards;
}

div table tr td svg .runner {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-animation: 1s run 2 forwards;
          animation: 1s run 2 forwards;
  position: relative;
}
